# virtual environment (backend)
myenv
myenv2
myenv3

# Next.js build output
.next/
.frontend/.next/
.frontend/out/
frontend/.next/

# Next.js specific cache files
.frontend/.next/cache/*

# Next.js tracing files
.frontend/.next/trace

#Local development environment
.DS_Store

node_modules/
.env

# python cache files
__pycache__/
*.py[cod]

.next
frontend/.next